{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount crispy_forms_tags %}

{% block head_title %}{% trans " लगईन " %}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class="col-6 offset-3 mt-1">
          <h1>{% trans "लगईन" %}</h1>

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          {% comment %} <p>{% blocktrans %}If you have not created an account yet, then please {% endcomment %}

          {% endif %}

          <form class="login" method="POST" action="{% url 'core:account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary" type="submit">{% trans "लगईन" %}</button>
            <br/>
            <p class="mt-3">{% blocktrans %}खाता छैन भने 
              <a href="{{ signup_url }}" class="btn btn-sm btn-secondary p-0 px-3">खाता </a> खोल्नुहोला |{% endblocktrans %}</p>
            <a class="btn btn-default text-primary" href="{% url 'account_reset_password' %}">{% trans "पासवर्ड विर्सनुभयो ?" %}</a>
          </form>
          </div>
        </div>
      </section>
    </div>
  </main>

{% endblock %}
