{% extends 'account/base.html' %}

{% load i18n %}
{% block head_title %}
  {% trans 'Change Password' %}
{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class="col-md-6 offset-3">
            <h1>
              {% if token_fail %}
                {% trans 'Bad Token' %}
              {% else %}
                {% trans 'Change Password' %}
              {% endif %}
            </h1>
            {% if token_fail %}
              {% url 'account_reset_password' as passwd_reset_url %}
              <p>
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
              </p>
            {% else %}
              {% if form %}
                <form method="POST" action="{{ action_url }}">
                  {% csrf_token %}
                  <div class="col-md-8 p-2">
                    <label for="id_email" class="_required">Password:<superscript class="asteriskField">*</superscript></label>
                    <input type="password" class="form-control password" name="password1" placeholder="Password" autocomplete="off" required="required" id="id_password1" />
                  </div>
                  <div class="col-md-8 p-2">
                    <label for="id_email" class="_required">Password (again):<superscript class="asteriskField">*</superscript></label>
                    <input type="password" class="form-control password" name="password2" placeholder="Password (again)" autocomplete="off" required="required" id="id_password2" />
                  </div>
                  <div class="mb-3 form-check p-2 ml-4">
                    <input class="form-check-input" type="checkbox" name="toggle" id="togglePassword">
                    <label class="form-check-label" for="togglePassword">पासवर्ड देखाउनुहोस्</label>
                </div>
                  <input type="submit" class="btn btn-success mt-3 mb-2 ml-2" name="action" value="{% trans 'Change password' %}" />
                </form>
              {% else %}
                <p>
                  {% trans 'Your password is now changed.' %}
                </p>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </section>
    </div>
  </main>

  

  <script>
    const togglePassword = document.querySelector("#togglePassword")
    var inputs = document.querySelectorAll('.password')

    togglePassword.addEventListener("click", function () {
        inputs.forEach(function(item){
            item.type = item.type == 'password'? 'text':'password';
        })
      
      })


</script>

{% endblock %}
