asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django==3.2
django-allauth
django-appconf
django-bootstrap-form
django-crispy-forms
django-etc
django-hitcount
djangorestframework
gunicorn
idna
oauthlib
packaging
pep8
pillow
pinax-messages`
pinax-templates
pycodestyle
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
tzdata
urllib3
whitenoise