
{% extends "account/base.html" %}
{% block content %}
{% load static %}
	
	<main class="bg_gray">
			<div class="container margin_60_35 add_bottom_30">
				<div class="main_title">
					<h2>About Krishiangan</h2>
					<p>Krishiangan is a free platform among producers and consumers of the agricultural products. It is started with the holy aim of supporting farming communities to sale their product with possible highest value and to strengthen the ecosystem of value chain. </p>
				</div>
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-5">
						<div class="box_about">
							<h2>How it Started ?</h2>
							{% comment %} <p class="lead">Est falli invenire interpretaris id, magna libris sensibus mel id.</p> {% endcomment %}
							<p>Krishiangan is founded by the experts of agricultural economy, food security, ICT after the several years of experience in the fields. The members of Krishiangan held PhD degree in different disciplines from oversees universities and returned to Nepal. They started to explore different sector of Nepalese economy to understand the context deeply instead of imposing predetermined solutions. They found such platform beneficial to the farmers and saw a huge gap in the agricultural value chain at various levels- such as several middlepersons from producer to consumer of the agricultural product, no transparency in value addition, unfair distribution of profit, and a weak value chain system etc. </p>
							<img src=" {% static 'main/img/arrow_about.png' %} " alt="" class="arrow_1">
						</div>
					</div>
					<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
							<img src=" {% static 'main/img/about_1.svg' %} " alt="" class="img-fluid" width="350" height="268">
					</div>
				</div>
				<!-- /row -->
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-5 pr-lg-5 text-center d-none d-lg-block">
							<img src=" {% static 'main/img/about_2.svg' %} " alt="" class="img-fluid" width="350" height="268">
					</div>
					<div class="col-lg-5">
						<div class="box_about">
							<h2>Trade safety</h2>
							<p class="lead">We welcome and want you to be able to trade your products successfully, pleasantly and safely at Krishiangan. Based on our experiences, we suggest some steps for you to act safely.</p>
							{% comment %} <p>Per eu nostrud feugiat. Et quo molestiae persecuti neglegentur. At zril definitionem mei, vel ei choro volumus. An tota nulla soluta has, ei nec essent audiam, te nisl dignissim vel. Ex velit audire perfecto pro, ei mei doming vivendo legendos. Cu sit magna zril, an odio delectus constituto vis. Vis ludus omnesque ne, est veri quaeque ad.</p> {% endcomment %}
							<img src=" {% static 'main/img/arrow_about.png' %} " alt="" class="arrow_2">
						</div>
					</div>
				</div>
				<!-- /row -->
				<div class="row justify-content-center align-items-center ">
					<div class="col-lg-5">
						<div class="box_about">
							<h2>+5000 products</h2>
							<p class="lead">Est falli invenire interpretaris id, magna libris sensibus mel id.</p>
							<p>Per eu nostrud feugiat. Et quo molestiae persecuti neglegentur. At zril definitionem mei, vel ei choro volumus. An tota nulla soluta has, ei nec essent audiam, te nisl dignissim vel. Ex velit audire perfecto pro, ei mei doming vivendo legendos. Cu sit magna zril, an odio delectus constituto vis. Vis ludus omnesque ne, est veri quaeque ad.</p>
						</div>

					</div>
					<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
							<img src=" {% static 'main/img/about_3.svg' %} " alt="" class="img-fluid" width="350" height="316">
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		
			<div class="bg_white">
				<div class="container margin_60_35">
					<div class="main_title">
						<h2>Some Steps For Trade Safety</h2>
						<p>As Krishiangan is open market platform for the buyers and sellers, we cannot guarantee that all the buyers and sellers have good intentions. Unfortunately, there might be fraud. We will try to fight to these fraudsters with every possible effort. We encourage you for the secure payment, fair trade among the users of this platform. You can also prevent a lot of trouble by using your common sense. </p>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="box_feat">
								<i class="ti-medall-alt"></i>
								<h3>Be analytic</h3>
								<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="box_feat">
								<i class="ti-help-alt"></i>
								<h3>Allow contact via Krishiangan</h3>
								<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="box_feat">
								<i class="ti-gift"></i>
								<h3>Know who you are dealing with</h3>
								<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="box_feat">
								<i class="ti-headphone-alt"></i>
								<h3>Report to the police</h3>
								<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="box_feat">
								<i class="ti-wallet"></i>
								<h3>Payment via reliable gateway</h3>
								<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="box_feat">
								<i class="ti-comments"></i>
								<h3>Make clear agreement before delivery</h3>
								<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
							</div>
						</div>
					</div>
					<!--/row-->
				</div>
			</div>
			<!-- /bg_white -->
		
		<div class="container margin_60">
			<div class="main_title">
				<h2>Meet Krishiangan Staff</h2>
				<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
			</div>
			<div class="owl-carousel owl-theme carousel_centered">
				<div class="item">
					<a href=" # ">
						<div class="title">
							<h4>Bhogendra Mishra <em>CEO</em></h4>
						</div><img src=" {% static 'main/img/staff/1_carousel.jpg' %} " alt="">
					</a>
				</div>
				<div class="item">
					<a href=" # ">
						<div class="title">
							<h4>Ram Sharma<em>Marketing</em></h4>
						</div><img src=" {% static 'main/img/staff/2_carousel.jpg' %} " alt="">
					</a>
				</div>
				<div class="item">
					<a href=" # ">
						<div class="title">
							<h4>Ram Sharma<em>Business strategist</em></h4>
						</div><img src=" {% static 'main/img/staff/3_carousel.jpg' %} " alt="">
					</a>
				</div>
				<div class="item">
					<a href=" # ">
						<div class="title">
							<h4>Ram Sharma<em>Customer Service</em></h4>
						</div><img src=" {% static 'main/img/staff/4_carousel.jpg' %} " alt="">
					</a>
				</div>
				<div class="item">
					<a href=" # ">
						<div class="title">
							<h4>Ram Sharma<em>Admissions</em></h4>
						</div><img src=" {% static 'main/img/staff/5_carousel.jpg' %} " alt="">
					</a>
				</div>
			</div>
			<!-- /carousel -->
		</div>
		<!-- /container -->
	</main>
{% endblock content %}