
{% extends "main/base.html" %}
{% load hitcount_tags %}
{% load custom_tags %}

{% block content %}
{% load static %}
	<main class="bg_gray">
		<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="{% url 'core:home'%}"><i class="fa fa-home"></i> होम</a></li>
				</ul>
			</div>
			<h1>बिड गरेका सामानहरु</h1>
		</div>
		<!-- /page_header -->
		<table class="table table-striped">
            <thead>
                <tr>
                    <th>क्र.सं.</th>
                    <th>वस्तु</th>
                    <th>प्रयोगकर्ता</th>
                    <th>मिति</th>
                    <th>संख्या</th>
                    <th>मुल्य </th>
                    <th>###</th>
                </tr>
            </thead>
		    <tbody>
                {% for item in bid_items|sort_by:'-bid_date' %}
                        <tr>
                            <td>{{ forloop.counter}}</td>
                            <td>
                                <figure>
                                    <a href=" {% url 'core:product' item.item.pk%}">
                                        <img class="img-fluid lazy" style="height:50px; width:50px;" src=" {{item.item.thumbnail.url}}" data-src="{{item.item.thumbnail.url}}" alt="">
                                    </a>
							        <h6>{{item.item.title}}</h6>
                                </figure>
                            </td>
                            <td>{{ item.user}}</td>
                            <td>{{ item.bid_date }}</a></td>
                            <td>{{ item.quantity}}</a></td>
                            <td>{{ item.price}}</td>
                            <td>
                                <a href="{% url "pinax_messages:message_user_create" user_id=item.user.id %}"
                                class="btn btn-outline-success btn-sm"><i class="ti-email"></i> सन्देश पठाउनुहोस्</a>
                            </td>
                        </tr>
                {% empty %}
                        <td colspan='5'> कुनै पनि सामान छैन |</td>
				{% endfor %}
			</tbody>
		</table>
    </div>
	</main>
	<!--/main-->
{% endblock content %}
