{% extends "account/base.html" %}
{% block content %}
{% load static %}

<main class="bg_gray">
	<div class="container margin_60_35 add_bottom_30">


		<div class="bg_white">
			<div class="container margin_60_35">
				<div class="main_title">
					<h2>Conditions</h2>

				</div>
				<div class="row">
					<div class="box_feat">

						<ol>
							<li><strong>General provisions</strong></li>
						</ol>
						<p>These terms of use apply to any use of Krishiangan (website: <a
								href="http://www.krishiangan.com">www.krishiangan.com</a>) in any devices, at all
							services provided by Krishiangan and on all agreement that Krishiangan enters into for the
							use of the websites and the services. &nbsp;While using this platform, you must be agreed to
							these Terms of Use.&nbsp;Krishiangan advises anyone using this platform or any of these
							services (a "&nbsp;<strong>User</strong>&nbsp;") to read these Terms of Use in
							advance.&nbsp;Krishiangan may change the Terms of Use from time to time.&nbsp;We therefore
							recommend that you read them regularly. Products and services can be offered or searched by
							a User on the Platform, both free of charge and against payment to Krishiangan (the
							"&nbsp;<strong>Advertisement</strong>&nbsp;").&nbsp;An Advertisement includes the title and
							description of the products or services offered or sought.</p>
						<ol start="2">
							<li><strong>Data protection </strong></li>
						</ol>
						<p>Krishiangan is committed to protecting your privacy from the best level.&nbsp;This privacy
							policy explains how we collect, use, provide, store and protect your personal data. This
							Privacy Statement applies to all Krishiangan websites, applications, services and tools
							(collectively &ldquo;Services&rdquo;) that reference this Privacy Statement regardless of
							how you access or use it, including using mobile devices.</p>
						<p>&nbsp;</p>
					</div>









				</div>
				<!--/row-->
			</div>
			<div class="container margin_60_35">
				<div class="main_title">
					<h2>Privacy policy</h2>

				</div>
				<div class="row">
					<!-- <div class="box_feat"> -->
					<p>&nbsp;</p>
					<p><strong>How do you use your personal data?</strong></p>
					<p>We use your personal information to provide you with customer service, to provide you with
						personalized advertising and marketing, a personalized experience on our sites, to contact you
						about your account and our Services, and to detect, prevent, investigate and minimize the
						consequences of fraudulent or illegal activities.</p>
					<p>We use your personal data to pursue our legitimate interests provided that your rights and
						freedoms do not outweigh those interests.&nbsp;We have put in place controls to balance our
						interests against your rights.&nbsp;These include:</p>
					<p>We may use your personal data with your consent for the following:<br /></p>

					<ul>
						<li>Offer agricultural marketing to you via phone calls, email or text messages.</li>
						<li>Offer agricultural marketing to you from other e-businesses.</li>
						<li>Offer third-party marketing to you.</li>
						<li>Customize any third-party advertisements you may see on third-party websites.</li>
						<li>Using your exact geo-location to provide location-based Services.</li>
					</ul>
					<p>You have the right to withdraw your consent at any time.&nbsp;We may use technologies that are
						considered automated decision-making or profiling.&nbsp;We will not make any automated decisions
						about you that significantly affect you unless such a decision is necessary as part of an
						agreement we have with you, we have your consent, or we are required by law to use such
						technology.</p>
					<ol start="3">
						<li><strong>Guidelines and rules for posting advertisements</strong></li>
					</ol>
					<p>Krishiangan is an advertising platform where advertisers can post the advertisement of their
						agricultural products and users can view these advertisements. When the advertiser post the
						advertisement on the website should follow the rule of the Krishiangan.</p>
					<ul>
						<li><strong>Title and texts of advertisement may only be in Nepali and English.</strong></li>
						<li><strong>Each advertisement must be placed in the most appropriate category.</strong></li>
						<li><strong>Advertisement content that is not allowed: </strong></li>
					</ul>
					<ol>
						<li>The misleading, inaccurate or incorrect title and text.&nbsp;</li>
						<li>Discriminatory, pornographic, insulting or threatening or inflammatory and political
							content.&nbsp;</li>
						<li>It is not allowed to post photos with an Advertisement that do not relate to the product.
						</li>
						<li>It is not allowed to post advertisements that are only posted to generate clicks on a
							particular website.</li>
					</ol>
					<p>&nbsp;</p>
					<ul>
						<li><strong>Illegal or unlawful products or services</strong></li>
					</ul>
					<p>It is not allowed to sell products that are illegal or the trade of which is prohibited by laws
						of Nepal Government.&nbsp;&nbsp;Both Advertiser and User must always pay close attention when
						responding to products.&nbsp;Advertisers and Users are expected to know the laws and regulations
						in the field of the relevant product.&nbsp;We recommend that you obtain further information or
						advice if in doubt, for example on the website of the relevant supervisory authority.</p>
					<ul>
						<li><strong>Posting your advertisement</strong></li>
					</ul>
					<p>An Advertiser posts her/his Advertisement via the button &ldquo;Post your products&rdquo; on the
						Website.&nbsp;Before an Advertiser can post an Advertisement, s/he must first log in.</p>
					<p>When creating a user account, it is not allowed to choose an advertiser name that contains a
						[url] or part of a [url]. It is not allowed to provide your login details to third
						parties.&nbsp;It is not allowed to use login details of third parties for posting
						Advertisements.</p>
					<p>&nbsp;</p>
					<ul>
						<li><strong>The period that an advertisement remains on the website</strong></li>
					</ul>
					<p>Advertisements for the fruit and vegetables will remain on the website for at least 15 days and
						for horticulture/livestock/poultries/crops/fisheries will remain for at least 30 days.&nbsp;</p>
					<p><strong>&nbsp;</strong></p>
					<ul>
						<li><strong>Reporting</strong><strong> illegal Advertisements to Krishiangan</strong></li>
					</ul>
					<p>You may report to Krishiangan for the illegal advertisement.</p>
					<p>&nbsp;</p>
					<ul>
						<li><strong>No guarantees from Krishiangan</strong></li>
					</ul>
					<ul>
						<li>Krishiangan also cannot guarantee that the products offered by Advertisers on the Website
							will meet your expectations.</li>
						<li>Advertisers and Users must conduct sufficient research themselves and obtain sufficient
							information before posting an Advertisement on the Website.&nbsp;We do not check the quality
							of the content of the Advertisement, the safety or legality of the advertised products, the
							correctness of the offers, the authority of Advertisers to sell products and / or the
							authority of Users to purchase products.&nbsp;</li>
					</ul>
					<p><strong>&nbsp;</strong></p>
					<ul>
						<li><strong>The advertisement can also be published elsewhere</strong></li>
					</ul>
					<ul>
						<li>Krishiangan can use the advertisement and its content for its own publicity
							purposes.&nbsp;This means, among other things, that an advertisement or part thereof can be
							displayed by us through other distribution channels.</li>
					</ul>
					<!-- </div> -->









				</div>
				<!--/row-->
			</div>
		</div>
		<!-- /bg_white -->


		<!-- /container -->
</main>
{% endblock content %}