{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load custom_tags%}

{{ form.media }} {# Adds date-picker required JS and CSS #}


{% block content %}

<main>
    <div class="container">
        <div class="col s12 m8 offset-m2 pb-3">
            <div class="card p-2">
                <div class="card-content">

                    <h2 class="flow-text">Add your item</h2>
                    {%if item %}
                        <form id="post_form" method="post" action="/edit/item/{{item.id}}/" enctype="multipart/form-data">
                     {%else%}   
                        <form id="post_form" method="post" action="/edit/item/" enctype="multipart/form-data">
                    {%endif%}
                        {% csrf_token %}
                        <div class="form-row">
                                
                            {% for pform in postForm %}
                                {% if pform|field_type == 'CheckboxInput'%}
                                    <div class="col-md-6 py-2">{{ pform|as_crispy_field}}</div>
                                {% elif pform|field_type in 'Textarea,ClearableFileInput'%}
                                    <div class="col-md-12">{{ pform|as_crispy_field}}</div>

                                {%else%}
                                    <div class="col-md-6">{{ pform|as_crispy_field}}</div>
                                {%endif%}
                            {%endfor%}

                        {%include 'custom_fields/multiple_images.html' %}    
                        {% for form in formset %} 
                            <div class="col-md-12 py-2">{{ form|crispy}}</div>
                        {% endfor %}
                        </div>
                        <input class="btn btn-outline-success" type="submit" name="submit" value="Submit" />
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock content %}