{% extends "base_index.html" %}
{% load hitcount_tags %}
{% load custom_tags %}

{% block content %}
{% load static %}

<!-- Slider Area Start -->
<div class="slider-area slider-style-three">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="slider-wrapper theme-default">
                   
                    <!-- Slider Background  Image Start-->


                    <div id="slider" class="nivoSlider">
                     {% for category in categories%}
                        <a href="#"> <img src="{{ category.image.url|default_if_none:'#' }}"
                                data-thumb="{{ category.image.url|default_if_none:'#'  }}" alt="" title="#{{category.category}}" /></a>
                     {% endfor %} 
                        
                    </div>
                    {% for category in categories%}
                    <!-- Slider Background  Image Start-->
                    <div id={{category.category}} class="nivo-html-caption nivo-caption">
                        <div class="text-content-wrapper">
                            <div class="text-content">
                                <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="2s"
                                    data-wow-delay="0.5s">Big Sale</h4>
                                <h1 class="title1 wow bounceInRight text-white mb-16" data-wow-duration="2s"
                                    data-wow-delay="1s"><br>{{ category.category }}</h1>
                                <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="2s"
                                    data-wow-delay="1.5s">
                                    <a class="button slider-btn" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %} 
                    
                    
                    
                </div>
            </div>
            <div class="col-md-4">
                <!-- Single Banner Start -->
                <div class="single-banner zoom mb-20">
                    <a href="#"><img src="{% static 'img/banner/9.jpg'%}" alt="slider-banner"></a>
                </div>
                <!-- Single Banner End -->
                <!-- Single Banner Start -->
                <div class="single-banner zoom">
                    <a href="#"><img src="{% static 'img/banner/10.jpg'%}" alt="slider-banner"></a>
                </div>
                <!-- Single Banner End -->
            </div>
        </div>
    </div>
</div>

<!-- Slider Area End -->
<!-- Product Area Start -->

<div class="product-area pt-30">
    <div class="container">
        <div class="row">
            {% for item in items|slice:":4"%}
            <!-- Single Product Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <div class="pro-img">
                        <a href="{{ item.get_absolute_url }}">
                            <img class="primary-img" src="{{ item.image.url|default_if_none:'#' }}" alt="single-product">
                            <img class="secondary-img" src="{{ item.image.url|default_if_none:'#' }}" alt="single-product">
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4><a href="{{ item.get_absolute_url }}">{{ item.title}}</a></h4>
                        <p>Views: {% get_hit_count for item%}</p>
                        <p><span class="price">{% if item.discount_price %}
                                {{ item.discount_price }}
                                {% else %}
                                {{ item.price }}
                                {% endif %}</span>
                            {% if item.discount_price %}
                            <del class="prev-price">{{ item.price }}</del></p>
                        {% else %}
                        {% endif %}

                        <div class="pro-actions">
                            <div class="actions-secondary">
                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i
                                        class="fa fa-heart"></i></a>
                                <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To
                                    Cart</a>
                                <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i
                                        class="fa fa-signal"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
                {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
            </div>
            {% endfor %}
            <!-- Single Product End -->
            <!-- Single Product Start -->

            <!-- Single Product End -->
        </div>

    </div>
</div>
<!-- Product Area End -->
<!-- Banner Start -->
{% comment %} <div class="upper-banner banner pb-60">
    <div class="container">
        <div class="row">
            <!-- Single Banner Start -->
            <div class="col-sm-6">
                <div class="single-banner zoom">
                    <a href="#"><img src="{% static 'img/banner/1.png'%}" alt="slider-banner"></a>
                </div>
            </div>
            <!-- Single Banner End -->
            <!-- Single Banner Start -->
            <div class="col-sm-6">
                <div class="single-banner zoom">
                    <a href="#"><img src="{% static 'img/banner/2.png'%}" alt="slider-banner"></a>
                </div>
            </div>
            <!-- Single Banner End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div> {% endcomment %}
<!-- Banner End -->
<!-- New Products Start -->
<div class="new-products pb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 order-2">
                <div class="side-product-list">
                    <div class="group-title">
                        <h2>Top Products</h2>
                    </div>
                    <!-- Deal Pro Activation Start -->
                    <div class="slider-right-content side-product-list-active owl-carousel">
                        <!-- Double Product Start -->



                        <div class="double-pro">
                            {% for item in items|sort_by:'-hit_count_generic__hits'|slice:":5"%}
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="{{ item.get_absolute_url }}"><img class="img" src="{{ item.image.url|default_if_none:'#' }}"
                                            alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="{{ item.get_absolute_url }}">{{item.title}}</a></h4>
                                    <p><span class="price">{% if item.discount_price %}
                                            {{ item.discount_price }}
                                            {% else %}
                                            {{ item.price }}
                                            {% endif %}</span>
                                        {% if item.discount_price %}
                                        <del class="prev-price">{{ item.price }}</del></p>
                                    {% else %}
                                    {% endif %}

                                </div>
                            </div>
                            {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                            {% endfor %}
                        </div>
                        <div class="double-pro">
                            {% for item in items|sort_by:'-hit_count_generic__hits'|slice:"5:10"%}
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="{{ item.get_absolute_url }}"><img class="img" src="{{ item.image.url|default_if_none:'#' }}"
                                            alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="{{ item.get_absolute_url }}">{{item.title}}</a></h4>
                                    <p><span class="price">{% if item.discount_price %}
                                            {{ item.discount_price }}
                                            {% else %}
                                            {{ item.price }}
                                            {% endif %}</span>
                                        {% if item.discount_price %}
                                        <del class="prev-price">{{ item.price }}</del></p>
                                    {% else %}
                                    {% endif %}

                                </div>
                            </div>
                            {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                            {% endfor %}
                        </div>
                        <div class="double-pro">
                            {% for item in items|sort_by:'-hit_count_generic__hits'|slice:"10:15"%}
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="{{ item.get_absolute_url }}"><img class="img" src="{{ item.image.url|default_if_none:'#' }}"
                                            alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="{{ item.get_absolute_url }}">{{item.title}}</a></h4>
                                    <p><span class="price">{% if item.discount_price %}
                                            {{ item.discount_price }}
                                            {% else %}
                                            {{ item.price }}
                                            {% endif %}</span>
                                        {% if item.discount_price %}
                                        <del class="prev-price">{{ item.price }}</del></p>
                                    {% else %}
                                    {% endif %}

                                </div>
                            </div>
                            {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                            {% endfor %}
                        </div>




                    </div>
                    <!-- Deal Pro Activation End -->
                </div>
            </div>
            <div class="col-xl-9 col-lg-8  order-lg-2">
                <!-- New Pro Content End -->
                <div class="new-pro-content">
                    <div class="pro-tab-title border-line">
                        <!-- Featured Product List Item Start -->
                        <ul class="nav product-list product-tab-list">
                            <li><a class="active" data-toggle="tab" href="#new-arrival">New Arrivals</a></li>
                            <li><a data-toggle="tab" href="#featured">Featured</a></li>
                            <li><a data-toggle="tab" href="#toprated">Top Rated</a></li>
                        </ul>
                        <!-- Featured Product List Item End -->
                    </div>
                    <div class="tab-content product-tab-content jump">
                        <div id="new-arrival" class="tab-pane active">
                            <!-- New Products Activation Start -->
                            <div class="new-pro-active owl-carousel">
                                <!-- Single Product Start -->
                                {% for item in items|sort_by:'-upload_date'|slice:"0:6"%}
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="{{ item.get_absolute_url }}">
                                            <img class="primary-img" src="{{ item.image.url|default_if_none:'#' }}" alt="single-product">
                                            <img class="secondary-img" src="{{ item.image.url|default_if_none:'#' }}" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                                        <p><span class="price">{% if item.discount_price %}
                                                {{ item.discount_price }}
                                                {% else %}
                                                {{ item.price }}
                                                {% endif %}</span>
                                            {% if item.discount_price %}
                                            <del class="prev-price">{{ item.price }}</del></p>
                                        {% else %}
                                        {% endif %}
                                        <div class="pro-actions">
                                            <div class="actions-secondary">
                                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i
                                                        class="fa fa-heart"></i></a>
                                                <a class="add-cart" href="cart.html" data-toggle="tooltip"
                                                    title="Add to Cart">Add To Cart</a>
                                                <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i
                                                        class="fa fa-signal"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                                    <!-- Product Content End -->
                                </div>
                                
                                {% endfor %}

                                <!-- Single Product End -->
                            </div>
                            <!-- New Products Activation End -->
                        </div>
                        <!-- New Products End -->
                        <div id="featured" class="tab-pane">
                            <!-- New Products Activation Start -->
                            <div class="new-pro-active owl-carousel">
                                <!-- Single Product Start -->
                                {% for item in items|sort_by:'-upload_date'|slice:"0:6"%}
                                {% if item.featured %}
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="{{ item.get_absolute_url }}">
                                            <img class="primary-img" src="{{ item.image.url|default_if_none:'#' }}" alt="single-product">
                                            <img class="secondary-img" src="{{ item.image.url|default_if_none:'#' }}" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                                        <p><span class="price">{% if item.discount_price %}
                                                {{ item.discount_price }}
                                                {% else %}
                                                {{ item.price }}
                                                {% endif %}</span>
                                            {% if item.discount_price %}
                                            <del class="prev-price">{{ item.price }}</del></p>
                                        {% else %}
                                        {% endif %}
                                        <div class="pro-actions">
                                            <div class="actions-secondary">
                                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i
                                                        class="fa fa-heart"></i></a>
                                                <a class="add-cart" href="cart.html" data-toggle="tooltip"
                                                    title="Add to Cart">Add To Cart</a>
                                                <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i
                                                        class="fa fa-signal"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                                    <!-- Product Content End -->
                                </div>
                                {% endif %}
                                {% endfor %}

                                <!-- Single Product End -->
                            </div>
                            <!-- New Products Activation End -->
                        </div>
                        <div id="toprated" class="tab-pane">
                            <!-- New Products Activation Start -->
                            <div class="new-pro-active owl-carousel">
                                <!-- Single Product Start -->
                                {% for item in items|sort_by:'-likes'|slice:"0:6"%}
                                {% if item.featured %}
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="{{ item.get_absolute_url }}">
                                            <img class="primary-img" src="{{ item.image.url|default_if_none:'#' }}" alt="single-product">
                                            <img class="secondary-img" src="{{ item.image.url|default_if_none:'#' }}" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                                        <p><span class="price">{% if item.discount_price %}
                                                {{ item.discount_price }}
                                                {% else %}
                                                {{ item.price }}
                                                {% endif %}</span>
                                            {% if item.discount_price %}
                                            <del class="prev-price">{{ item.price }}</del></p>
                                        {% else %}
                                        {% endif %}
                                        <div class="pro-actions">
                                            <div class="actions-secondary">
                                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i
                                                        class="fa fa-heart"></i></a>
                                                <a class="add-cart" href="cart.html" data-toggle="tooltip"
                                                    title="Add to Cart">Add To Cart</a>
                                                <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i
                                                        class="fa fa-signal"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                                    <!-- Product Content End -->
                                </div>
                                {% endif %}
                                {% endfor %}

                                <!-- Single Product End -->
                            </div>
                            <!-- New Products Activation End -->
                        </div>
                        <div class="single-banner zoom mt-30 mt-sm-10">
                            <a href="#"><img src="{% static 'img/banner/tab-banner.jpg'%}" alt="slider-banner"></a>
                        </div>
                    </div>
                    <!-- New Pro Content End -->
                </div>
            </div>

        </div>
        <!-- Container End -->
    </div>
    <!-- New Products End -->
    <!-- Company Policy Start -->
    <div class="company-policy pb-60">
        <div class="container">
            <div class="row">
                <!-- Single Policy Start -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-policy">
                        <div class="icone-img">
                            <img src="{% static 'img/icon/1.png'%}" alt="">
                        </div>
                        <div class="policy-desc">
                            <h3>Free Delivery</h3>
                            <p>Free shipping on all order</p>
                        </div>
                    </div>
                </div>
                <!-- Single Policy End -->
                <!-- Single Policy Start -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-policy">
                        <div class="icone-img">
                            <img src="{% static 'img/icon/2.png'%}" alt="">
                        </div>
                        <div class="policy-desc">
                            <h3>Online Support 24/7</h3>
                            <p>Support online 24 hours</p>
                        </div>
                    </div>
                </div>
                <!-- Single Policy End -->
                <!-- Single Policy Start -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-policy">
                        <div class="icone-img">
                            <img src="{% static 'img/icon/3.png'%}" alt="">
                        </div>
                        <div class="policy-desc">
                            <h3>Money Return</h3>
                            <p>Back guarantee under 7 days</p>
                        </div>
                    </div>
                </div>
                <!-- Single Policy End -->
                <!-- Single Policy Start -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-policy">
                        <div class="icone-img">
                            <img src="{% static 'img/icon/4.png'%}" alt="">
                        </div>
                        <div class="policy-desc">
                            <h3>Member Discount</h3>
                            <p>Onevery order over $30.00</p>
                        </div>
                    </div>
                </div>
                <!-- Single Policy End -->
            </div>
        </div>
    </div>
    <!-- Company Policy End -->
    <!-- Best Products Start -->
    <div class="best-seller-product pb-40">
        <div class="container">
            <div class="group-title">
                <h2>Best Seller Products</h2>
            </div>
           
            <!-- Best Product Activation Start -->
            <div class="best-seller-pro-active  owl-carousel slider-right-content">
                <!-- Double Product Start -->
              
                
                <div class="double-pro">
                 {% for item in items|sort_by:'-sold'|slice:"0:2"%}
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <div class="pro-img">
                            <a href="{{item.get_absolute_url}}"><img class="img" src="{{ item.image.url|default_if_none:'#'}}" alt="product-image"></a>
                        </div>
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                            <p><span class="price">{% if item.discount_price %}
                                                {{ item.discount_price }}
                                                {% else %}
                                                {{ item.price }}
                                                {% endif %}</span>
                                            {% if item.discount_price %}
                                            <del class="prev-price">{{ item.price }}</del></p>
                                        {% else %}
                                        {% endif %}
                        </div>
                        {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                    </div>
                    <!-- Single Product End -->
                   
                     
                    {% endfor %}
                </div>
              

                <div class="double-pro">
                 {% for item in items|sort_by:'-sold'|slice:"2:4"%}
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <div class="pro-img">
                            <a href="{{item.get_absolute_url}}"><img class="img" src="{{ item.image.url|default_if_none:'#'}}" alt="product-image"></a>
                        </div>
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                            <p><span class="price">{% if item.discount_price %}
                                                {{ item.discount_price }}
                                                {% else %}
                                                {{ item.price }}
                                                {% endif %}</span>
                                            {% if item.discount_price %}
                                            <del class="prev-price">{{ item.price }}</del></p>
                                        {% else %}
                                        {% endif %}
                        </div>
                        {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                    </div>
                    <!-- Single Product End -->
                   
                     
                    {% endfor %}
                </div>
                <div class="double-pro">
                 {% for item in items|sort_by:'-sold'|slice:"4:6"%}
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <div class="pro-img">
                            <a href="{{item.get_absolute_url}}"><img class="img" src="{{ item.image.url|default_if_none:'#'}}" alt="product-image"></a>
                        </div>
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                            <p><span class="price">{% if item.discount_price %}
                                                {{ item.discount_price }}
                                                {% else %}
                                                {{ item.price }}
                                                {% endif %}</span>
                                            {% if item.discount_price %}
                                            <del class="prev-price">{{ item.price }}</del></p>
                                        {% else %}
                                        {% endif %}
                        </div>
                        {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                    </div>
                    <!-- Single Product End -->
                   
                     
                    {% endfor %}
                </div>
                <div class="double-pro">
                 {% for item in items|sort_by:'-sold'|slice:"6:8"%}
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <div class="pro-img">
                            <a href="{{item.get_absolute_url}}"><img class="img" src="{{ item.image.url|default_if_none:'#'}}" alt="product-image"></a>
                        </div>
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                            <p><span class="price">{% if item.discount_price %}
                                                {{ item.discount_price }}
                                                {% else %}
                                                {{ item.price }}
                                                {% endif %}</span>
                                            {% if item.discount_price %}
                                            <del class="prev-price">{{ item.price }}</del></p>
                                        {% else %}
                                        {% endif %}
                        </div>
                        {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                    </div>
                    <!-- Single Product End -->
                   
                     
                    {% endfor %}
                </div>
                <div class="double-pro">
                 {% for item in items|sort_by:'-sold'|slice:"8:10"%}
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <div class="pro-img">
                            <a href="{{item.get_absolute_url}}"><img class="img" src="{{ item.image.url|default_if_none:'#'}}" alt="product-image"></a>
                        </div>
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                            <p><span class="price">{% if item.discount_price %}
                                                {{ item.discount_price }}
                                                {% else %}
                                                {{ item.price }}
                                                {% endif %}</span>
                                            {% if item.discount_price %}
                                            <del class="prev-price">{{ item.price }}</del></p>
                                        {% else %}
                                        {% endif %}
                        </div>
                        {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                    </div>
                    <!-- Single Product End -->
                   
                     
                    {% endfor %}
                </div>
                <div class="double-pro">
                 {% for item in items|sort_by:'-sold'|slice:"10:12"%}
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <div class="pro-img">
                            <a href="{{item.get_absolute_url}}"><img class="img" src="{{ item.image.url|default_if_none:'#'}}" alt="product-image"></a>
                        </div>
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                            <p><span class="price">{% if item.discount_price %}
                                                {{ item.discount_price }}
                                                {% else %}
                                                {{ item.price }}
                                                {% endif %}</span>
                                            {% if item.discount_price %}
                                            <del class="prev-price">{{ item.price }}</del></p>
                                        {% else %}
                                        {% endif %}
                        </div>
                        {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                    </div>
                    <!-- Single Product End -->
                   
                     
                    {% endfor %}
                </div>
              
               
            </div>
            <!-- Best Product Activation End -->
        </div>
        <!-- Container End -->
    </div>
    {% for category in categories  %}
    
    <div class="best-seller-product pb-40">
        <div class="container">
            <div class="group-title">
                <h2>{{category.category}}</h2>
            </div>
           
            <!-- Best Product Activation Start -->
            <div class="best-seller-pro-active  owl-carousel slider-right-content">
                <!-- Double Product Start -->
              
                 {% for item in items|sort_by:'-upload_date'|filter_category:category.category%}
                <div class="double-pro">
                
                   {% comment %} {% if item.title == "Test" %} {% endcomment %}

                 
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <div class="pro-img">
                            <a href="{{item.get_absolute_url}}"><img class="img" src="{{ item.image.url|default_if_none:'#'}}" alt="product-image"></a>
                        </div>
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                            <p><span class="price">{% if item.discount_price %}
                                                {{ item.discount_price }}
                                                {% else %}
                                                {{ item.price }}
                                                {% endif %}</span>
                                            {% if item.discount_price %}
                                            <del class="prev-price">{{ item.price }}</del></p>
                                        {% else %}
                                        {% endif %}
                        </div>
                        {% if item.discount_price %}
                <span class="sticker-new">{{ item.get_discount_percent }}%</span>
                {% endif%}
                    </div>
                    <!-- Single Product End -->
                {% comment %} {% endif %}  {% endcomment %}
                     
                    
                </div>
          {% endfor %}
            </div>
            <!-- Best Product Activation End -->
        </div>
        <!-- Container End -->
    </div>
    {% endfor %}
    <!-- Best Product End -->
    <!-- Blog Page Start -->
  
    <!-- Blog Page End -->
    <!-- Brand Logo Start -->
    <div class="brand-area pb-60">
        <div class="container">
            <!-- Brand Banner Start -->
            <div class="brand-banner owl-carousel">
                <div class="single-brand">
                    <a href="#"><img class="img" src="img/brand/1.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/2.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/3.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/4.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/5.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img class="img" src="img/brand/1.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/2.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/3.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/4.png" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="img/brand/5.png" alt="brand-image"></a>
                </div>
            </div>
            <!-- Brand Banner End -->
        </div>
    </div>
    {% endblock content %}