/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
a.header-title{
    font-size:16px !important;
}

.category-title{
    font-size: 18px;
}

.footer_title>h3{
    font-size: 18px !important;
}